<nav>
    <div class="nav-wrapper bg-primary">
        <a href="#" class="brand-logo right">Logo</a>
        {% set menu = knp_menu_get('nav') %}
        {{ knp_menu_render(menu) }}
    </div>
</nav>

