<nav>
    <div class="nav-wrapper bg-primary">
        <a href="#" class="brand-logo right"><img style="max-height: 2em" src="{{ asset('images/aoc_logo1.jpg') }}"></a>
        {% set menu = knp_menu_get('nav') %}
        {{ knp_menu_render(menu) }}
    </div>
</nav>

