{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h2>Roster:</h2>
                <ul id="big" class="row js-list-roster"
                    ondragenter="return dragEnter(event)"
                    ondragover="return dragOver(event)"
                    ondrop="return dragdrop(event)">
                </ul>
            </div>
        </div>
    </div>


    <div class="col s12">
        <div class="card-panel">
            <h2>Player-Pool:</h2>
            <ul class="row">
                {% for i in 1..40 %}
                    <li class="col s4 m2 l1 js-list-account" data-is-in-roster="false" data-character-id="{{ i }}">
                        <div class="multi-panel card-panel z-depth-1" draggable="true">
                            spieler {{ i }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
