{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 card-panel">
            <div>
                <h2>Raids</h2>
            </div>
        </div>
        <div class="col s12 card-panel">
            <ul class="row">
                {% for raid in raids %}
                    <li class="col s6">
                        <div class="card-panel multi-panel">
                            <strong>{{ raid.getRaidTier }}</strong> {{ raid.getDate|date('Y-m-d') }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

