{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <br>

            <ul id="big" class="card-panel js-roster"
                ondragenter="return dragEnter(event)"
                ondragover="return dragOver(event)"
                ondrop="return dragdrop(event)">
                <h4>Roster:</h4>
            </ul>
        </div>
    </div>


        <div class="col s12">
            <div class="card-panel js-pool">
                <h4>Player-Pool:</h4>
                <ul class="row">
                    {% for i in 1..20 %}
                        <li class="col s2 js-list-account" >
                            <div class="multi-panel card-panel z-depth-1" draggable="true">
                                spieler {{ i }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}