{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <br>
        <div class="col s12">
            <div class="card-panel">
                <h5>Roster:</h5>
                <ul id="big" class="row js-list-roster"
                    ondragenter="return dragEnter(event)"
                    ondragover="return dragOver(event)"
                    ondrop="return dragdrop(event)">
                </ul>
            </div>
        </div>
    </div>


        <div class="col s12">
            <div class="card-panel">
                <h5>Player-Pool:</h5>
                <ul class="row">
                    {% for i in 1..20 %}
                        <li class="col s12 m2  js-list-account" data-is-in-roster="false" data-character-id="{{ i }}">
                            <div class="multi-panel card-panel z-depth-1" draggable="true">
                                spieler {{ i }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}