{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h3>Choose Overlay.xml</h3>
        <div>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Import Accounts"
                   class="form-field btn btn-default pull-left"/>
            {{ form_end(form) }}
        </div>


    </div>

{% endblock %}

