{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h2>Accounts:</h2>
        <div class="well-lg col s12 m10 l8
                            offset-m1 offset-l2">
            <table class="bordered highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a class="white-text" href="{{ path('user_show', {'id': user.id}) }}"> {{ user.getAccountName }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

