<div class="card">
    <div class="card-content">
        <div class="col s12 card-title">
            Verknüpfte Charaktere:
        </div>
        <div>
            <table class="bordered highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Klasse</th>
                        <th>Set</th>
                    </tr>
                </thead>
                <tbody>
                {% for char in user.getCharacters %}
                    <tr>
                        <td>{{ char.getCharName }}</td>
                        <td>{{ char.getClmClass }}</td>
                        <td>{{ char.getPreferredSet }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
