{% extends 'base.html.twig' %}

{% block body %}

    <h4>Account: {{ user.getAccountName }}</h4>
    {% include(':User:listCredits.html.twig') %}
    {% include(':User:listCharacters.html.twig') %}
    {#{% include(':Item:list.html.twig') %}#}
    {#{% include(':Raid:list.html.twig') %}#}



{% endblock %}