/* Color palette
custom:
  prim: #D18A21 comp1: 1E5288 comp2: 302892 comp3: 168B65 dark: 574c3d light:f3e9d9

forum:
  prim: #F8E3BF comp1: 818FA4 comp2: 7A9F97 comp3: 8F89AC dark: 8a8884 light: faf7f3
*/

$primary-color: #D18A21;
$secondary-color: #168B65;
$bg-color: #FFFFFF;
$grey-dark: #574C3D;
$grey-light: #F3E9D9;
$sidenav-width: 200px;

body {
    /*text-align: center;*/
    background-color: $bg-color;
    color: #000000;
}

nav li a:hover{
    color: #ffffff;
}

nav {
    background-color: $primary-color;
}

nav li:hover, nav li a:hover {
    background-color: $secondary-color;
}
nav ul li {
    color: #ffffff;
    width: $sidenav-width;
}

.side-nav {
    background-color: $primary-color;
}

div .well-lg{
    background-color: $primary-color;
}

div .card-panel {
    background-color: $primary-color;
}

table tbody tr td a, table tbody tr td{
    color: #ffffff;
}

.highlight tbody tr:hover td {
    background-color: $secondary-color;
}

.btn {
    background-color: $primary-color;
}

.btn:hover {
    background-color: $secondary-color;
}