/* Color palette
custom:
  prim: #D18A21 comp1: 1E5288 comp2: 302892 comp3: 168B65 dark: 574c3d light:f3e9d9

forum:
  prim: #F8E3BF comp1: 818FA4 comp2: 7A9F97 comp3: 8F89AC dark: 8a8884 light: faf7f3
*/

@import 'animateList';

$primary-color: #D18A21;
$accent-primary: #E4A64A;
$secondary-color: #168B65;
$accent-secondary: #1A9088;
$bg-color: #F3E9D9;
$grey-dark: #574C3D;
$grey-light: #F3E9D9;
$sidenav-width: 200px;

body {
    /*text-align: center;*/
    background-color: $bg-color;
    color: #ffffff;
}

.container {
  padding-top: 5em;
}

// NAVBAR CSS
a, .side-nav a {
    color: white;
}
nav {
    background-color: $primary-color;
}

nav li:hover, nav li a:hover, #multi-panel:hover ,#table-item:hover{
    background-color: $accent-primary;
}

nav ul li a, .side-nav a{
  width: $sidenav-width;
}
.side-nav {
    background-color: $primary-color;
  }


// PANELS
.well-lg, .card-panel {
  background-color: $primary-color;
}
.panel-heading {
  background-color: $accent-primary;
}

//card CSS
.card {
  background-color: $accent-primary;
}
.card .card-title {
  background-color: $primary-color;
  text-align: center;
}
.card .card-content {
  background-color: $accent-primary;
  padding: 0 0 0 0;
}


//form CSS
.btn {
  background-color: $secondary-color;
}
.btn:hover {
  background-color: $accent-secondary;
}
.input-field input {
  border-bottom-color: #ffffff;
  outline-color: #ffffff;
}
.input-field label {
  color: #ffffff;
}

.multi-panel {
  padding: 5px 5px 5px 5px;
  word-wrap: break-word;
  min-height: 45px;
  max-height: 45px;
  min-width:  45px;
  max-width: 500px;
  background-color: $bg-color;
  color: $primary-color;
}

.highlight tbody tr:hover td {
  background-color: $secondary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}
