{% extends 'base.html.twig' %}

{% block title %}
    {{ 'add translation here' }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="center-align col s12 m8 push-m2 l8 push-l2">
            {% block fos_user_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
