{% extends 'base.html.twig' %}

{% block title %}
    {{ 'add translation here' }}
{% endblock %}

{% block body %};
    <div class="row">
        <div class="col s12 card-panel">
            <div>
                <h4>User Administration</h4>
            </div>
        </div>
        <div class="col s12 card-panel">
            {% block fos_user_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
